.frame {
  min-height: 100%;
  max-width: 28rem;
  max-height: 45.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.frame .video-container {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  border-radius: inherit;
}

.frame .video-container::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: inherit;
}

.frame .video-container .video {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 1;
  overflow: hidden;
}

.frame .show-video {
  visibility: visible;
  opacity: 1;
}

.frame .display {
  width: 100%;
  min-height: 18rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.frame .display .error-message {
  text-align: center;
}

.frame form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 1.5rem;
  z-index: 10;
}

.frame form .input {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
  max-width: 10rem;
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
  outline: none;
  margin-bottom: 1rem;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.frame form .input:focus {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.frame form ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}

.frame form :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}

.frame form ::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}

.frame form ::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}

.frame form .btn {
  width: auto;
  padding: 0 0.5rem;
  height: 2rem;
  border-radius: 0.3rem;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  outline: none;
  background-color: transparent;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
/*# sourceMappingURL=frameStyles.css.map */